[submodule "DistributedSharedMemory"]
	path = DistributedSharedMemory
	url = git@gitlab.com:sdrobotics101/DistributedSharedMemory.git
[submodule "PythonSharedBuffers"]
	path = PythonSharedBuffers
	url = git@gitlab.com:sdrobotics101/PythonSharedBuffers.git
